.title {
    text-align: center;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.image-container {
    max-width: 40%;
    margin: auto;
}
img {
    max-width: 100%;
    margin: auto;
}
.button-container {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: 25px auto 0 auto;
}
.button {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    background-color: white;
    border-radius: 15px;
    font-size: 18px;
    padding: 10px;
}
